.schedule-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #00a676;
  display: flex;
  flex-direction: column;
}
.schedule-header {
  background-image: url("../Assets/SetGoal-Header.png");
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.h6-schedule-header {
  position: relative;
  top: -3em;
  color: #fff;
}
.schedule-main {
  background-color: #fff;
  height: 80vh;
  width: 100%;
  text-align: center;
  padding: 0 10%;
}
.table-header-wrapper {
  display: flex;
}
.table-header-wrapper .schedule-entry-deadline {
  background-color: transparent;
  color: #031d44;
}
tbody {
  width: 80vw;
  position: absolute;
  margin-top: 1em;
}

.scheduleEntry {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.25em;
  border-radius: 25px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #00a67718;
  border: solid 1px #999;
  position: relative;
}
.schedule-entry-step {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}
.schedule-entry-deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #031d44;
  color: #fff;
  padding: 0.5em;
  height: 2em;
  width: 25%;
  max-width: 200px;
}
.schedule-entry-milestone {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
}
.schedule-entry-checkbox {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}
.print-schedule-bttn {
  border-radius: 25px;
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 0.5em 2em;
  position: relative;
  background-color: #00a676;
}
