.set-goal {
  height: 100vh;
  width: 100%;
  background-color: #00a676;
}
.goal-header {
  background-image: url("../Assets/SetGoal-Header.png");
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.h6-header {
  position: relative;
  top: -3em;
  color: #fff;
}
.goal-input-field {
  border: none;
  position: relative;
  font-size: 36px;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  color: #04395e;
}
.goal-input-field:focus {
  outline: none;
}
.editIcon {
  height: 1em;
  margin-left: 0.25em;
}
.goal-result {
  background-color: #fff;
  height: 80vh;
}
.milestoneList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generateScheduleBttn {
  border-radius: 25px;
  background-color: #00a676;
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 0.5em 2em;
  width: 15em;
  margin-top: 2em;
}
